/* src/components/Footer.css */
.footer {
    background-color: #000;
    color: #ffd700;
    padding: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  