# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# System files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
coverage/
*.tgz
*.zip
*.tar.gz

# Package distribution files
*.pem
*.p12

# Yarn files
.yarn-integrity

#backend files
*/back
/backend/category.py
/backend/category2.py
/backend/main.py
/backend/model_another.h5
/backend/model.h5
/backend/the_model.keras
/backend/x.jpg
/backend/x.png

